---
Checks: '

-*,

bugprone-*,

modernize-*,
-modernize-use-auto,
-modernize-loop-convert,
-modernize-pass-by-value,
-modernize-raw-string-literal,
-modernize-return-braced-init-list,
-modernize-use-transparent-functors,
-modernize-redundant-void-arg,
-modernize-use-trailing-return-type,
-modernize-avoid-c-arrays,
-modernize-concat-nested-namespaces,
-modernize-use-nodiscard,

performance-*,

portability-*,

readability-*,
-readability-avoid-const-params-in-decls,
-readability-braces-around-statements,
-readability-function-cognitive-complexity,
-readability-magic-numbers,
-readability-named-parameter,

'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
...


