---
Checks: '

-*,

bugprone-*,

portability-*,

readability-*,
-readability-braces-around-statements,
-readability-function-cognitive-complexity,
-readability-magic-numbers,
-readability-named-parameter,

'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
...


