#pragma once

#include <mpi.h>

#include <memory>
#include <string>

#include "data/Atoms.hpp"
#include "data/MPIInfo.hpp"
#include "data/Subdomain.hpp"

namespace mrmd::io
{
class DumpH5MDParallel
{
public:
    DumpH5MDParallel(const std::shared_ptr<data::MPIInfo>& mpiInfo,
                     const std::string& author,
                     const std::string& particleGroupName = "atoms")
        : mpiInfo_(mpiInfo),
          author_(author),
          particleGroupName_(particleGroupName)
    {
    }

    void dump(const std::string& filename, const data::Subdomain& subdomain, const data::Atoms& atoms);

    {% for prop in particle %}
    bool dump{{prop.name | cap_first}} = {{prop.default}};   
    {%- endfor %}

    {% for prop in particle %}
    std::string {{prop.name}}Dataset = "{{prop.dataset}}";
    {%- endfor %}

private:
    std::shared_ptr<data::MPIInfo> mpiInfo_;

    std::string author_ = "xxx";
    std::string particleGroupName_ = "atoms";
};

}  // namespace mrmd::io
