{
   "particle": [
      {
         "name": "pos",
         "dataset": "position",
         "type": "real_t",
         "dim": 3,
         "default": "true"
      },
      {
         "name": "vel",
         "dataset": "velocity",
         "type": "real_t",
         "dim": 3,
         "default": "true"
      },
      {
         "name": "force",
         "dataset": "force",
         "type": "real_t",
         "dim": 3,
         "default": "true"
      },
      {
         "name": "type",
         "dataset": "type",
         "type": "idx_t",
         "dim": 1,
         "default": "true"
      },
      {
         "name": "mass",
         "dataset": "mass",
         "type": "real_t",
         "dim": 1,
         "default": "true"
      },
      {
         "name": "charge",
         "dataset": "charge",
         "type": "real_t",
         "dim": 1,
         "default": "true"
      },
      {
         "name": "relativeMass",
         "dataset": "relativeMass",
         "type": "real_t",
         "dim": 1,
         "default": "true"
      }
   ]
}
